# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
.conda-env/
venv/
ENV/
.env
.env.*
.mypy_cache/
.pytest_cache/
coverage_html/
.coverage*

# Node / Next.js
node_modules/
.next/
out/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.vscode/
.idea/
*.swp
*.swo
